# do not bell on tab-completion
set bell-style none
# enables recognition of meta key
set meta-flag on
set completion-ignore-case On
set menu-complete-display-prefix On
set print-completions-horizontally On
