#!/usr/bin/env bash

# Don't modify merge, squash, or amend messages
if [ -n "$2" ]; then
  exit 0
fi

CURRENT_BRANCH=$(git branch --show-current)

if echo "$CURRENT_BRANCH" | grep -qE 'BO-[0-9]{5}'; then
    PREFIX="$(echo "$CURRENT_BRANCH" | sed -n 's/.*\(BO-[0-9]\{5\}\).*/[\1]/p')"
else
    PREFIX=""
fi

FILE=$(cat "$1")
if [[ -n "$PREFIX" ]]; then
    printf '%s\n' "$PREFIX: $FILE" >"$1"
fi
