{{ $passphrase := promptStringOnce . "passphrase" "passphrase" -}}

encryption = "gpg"

[data]
    passphrase = {{ $passphrase | quote }}

[gpg]
symmetric = true
args = [
  "--batch",
  "--passphrase",
  {{ $passphrase | quote }},
  "--no-symkey-cache",
  "--quiet"
]

{{- if lookPath "delta" }}
[diff]
command = "delta"
pager = "delta"
exclude = ["scripts"]
{{- end }}

{{- if lookPath "nvim" }}
[edit]
command = "nvim"

[merge]
command = "nvim"
args = [
  "-d",
  {{ printf "%q" "{{ .Destination }}" }},
  {{ printf "%q" "{{ .Source }}" }},
  {{ printf "%q" "{{ .Target }}" }},
]
{{- end }}
