#!/usr/bin/env sh

# -e: exit on error
# -u: exit on unset variables
set -eu

if ! builtin command -v mise >/dev/null 2>&1; then
  curl https://mise.run | sh
  curl https://mise.run | MISE_INSTALL_PATH=~/.local/bin/mise-x64 MISE_INSTALL_ARCH=x64 sh
fi

~/.local/bin/mise install
