#!/usr/bin/env sh

# -e: exit on error
# -u: exit on unset variables
set -eu

_mise_path="$HOME/.local/bin/mise"
_mise_path_x64="$HOME/.local/bin/mise-x64"

if ! builtin command -v "$_mise_path" >/dev/null 2>&1; then
  curl https://mise.run | MISE_INSTALL_PATH="$_mise_path" sh
  {{ if eq .chezmoi.os "darwin" }}curl https://mise.run | MISE_INSTALL_PATH="$_mise_path_x64" MISE_INSTALL_ARCH=x64 sh{{end}}
fi

MISE_VERBOSE=1 exec "$_mise_path" install --yes
