#!/usr/bin/env sh

# -e: exit on error
# -u: exit on unset variables
set -eu

{{ if eq .chezmoi.os "darwin" -}}
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
apt update
apt install -y{{ range .packages.linux.apt }} {{ . }}{{ end }}
{{ end -}}
