---
- name: "Check for distribution specific configs"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ distro_name }}.yml"
  register: distro_config

- name: "Install common packages"
  ansible.builtin.include_tasks:
    file: "{{ role_path }}/tasks/{{ distro_name }}.yml"
  when: distro_config.stat.exists

- name: "Create symlink for each config"
  ansible.builtin.file:
    src: "{{ role_path }}/files/{{ item }}"
    dest: "{{ lookup('env', 'HOME')  }}/.config/{{ item }}"
    state: link
    force: true
  loop:
    - eza
    - bat
